.lessonPage {
    width: 1600px;
    height: 782px;
    padding: 47px 40px;

    background: #FFFFFF;
    border: 3px solid #007DFF;
    border-radius: 50px;
    margin: 20px auto;
}
.markBlock {
    max-width: 500px;
    min-width: 280px;
    max-height: 100px;
    border: 2px #007DFF solid;
    border-radius: 15px;
    font-size: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.markText {
    font-size: 100px;
}

.hometasks {
    max-width: 524px;
    min-width: 450px;
    height: 528px;
    border: 2px solid #4391E2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 180px;
}

.lessonName {
    width: auto;
    height: 101px;
    display: block;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;
    /* or 60% */
    text-align: left;
    align-items: center;
    letter-spacing: 0.15px;
    margin-left: 105px;
    color: #000000;
}

.lessonContainer {
    display: flex;
}

.lessonBlocksText {
    width: 377px;
    height: 30px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.15px;

    color: #000000;

}

.li {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
    max-width: 450px;
    height: auto;
    align-items: start;
    min-width: 150px;
    background: #FFFFFF;
    border: 1px solid #007DFF;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.lessonTheme {
    max-width: 500px;
    word-wrap: anywhere;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
}

.lessonMarkText {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin-left: 10px;
}

.exMark {
    border: 2px solid #007DFF;
    border-radius: 15px;
    margin-top: 13px;
    padding-top: 16px;
    font-size: 30px;
    width: 70px;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    height: 56px;
    color: green;
}

.default {
    border: 2px solid #007DFF;
    border-radius: 15px;
    margin-top: 13px;
    padding-top: 16px;
    font-size: 30px;
    width: 70px;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    height: 56px;
}

.goodMark {
    border: 2px solid #007DFF;
    border-radius: 15px;
    margin-top: 13px;
    padding-top: 16px;
    font-size: 30px;
    width: 70px;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    height: 56px;
    color: #6eb601;
}

.sick {
    border: 2px solid #007DFF;
    border-radius: 15px;
    margin-top: 13px;
    padding-top: 16px;
    font-size: 30px;
    width: 70px;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    height: 56px;
    color: #029ef7;
}

.midMark {
    border: 2px solid #007DFF;
    border-radius: 15px;
    margin-top: 13px;
    padding-top: 16px;
    font-size: 30px;
    width: 70px;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    height: 56px;
    color: orange;
}

.badMark {
    border: 2px solid #007DFF;
    border-radius: 15px;
    margin-top: 13px;
    padding-top: 16px;
    font-size: 30px;
    width: 70px !important;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    height: 56px;
    color: red;
}

.textOfMark {
    justify-content: center;
    margin-bottom: 10px !important;
}

.icon {
    color: #029ef7;
}

.button {
    min-width: 150px;
    min-height: 40px;
    color: #029ef7;
    border: 2px solid #029ef7;
    font-size: 18px;
}

.uploadText {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 0;
}

.clear {
    border: none;
}

.uploadLittleText {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #0095ff;

}

.buttonLesson {
    min-width: 150px;
    min-height: 40px;
    color: #029ef7;
    border: 2px solid #029ef7;
    font-size: 18px;
}
